<%= form_with(model: post,local: false) do |form| %>
  <div class="modal-body">
  <div id="errorArea">
  </div>
  <div class="form-group mt-3">
    <%= form.label :title %>
    <%= form.text_field :title ,class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :description %>
    <%= form.text_field :description ,class: 'form-control' %>
  </div>
      <div class="modal-footer">
        <%= form.submit class: 'btn btn-primary btn-m mt-5 mb-5' %>
        <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
      
      </div>
  
<% end %>
